.container {
  width: 50vw;
  height: fit-content;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  background-color: rgb(236, 227, 172);
  .input {
    width: 100%;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    .fileForm {
      width: 60%;
      height: 30%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .form_control {
        display: flex;
        flex-direction: row;
        label span {
          display: block;
          width: 7rem;
          background-color: #e72107;
          height: 2rem;
          cursor: pointer;
          color: aliceblue;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          padding: 0.2rem;
          border-radius: 0.3rem;
        }
        #fileInput {
          width: 0;
          height: 0;
          visibility: hidden;
        }
      }
    }
  }
  .results {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    table th {
      border: solid 1px;
    }
  }
}
